body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(44, 62, 80,1.0);
  color: white;
}

.container {
  width: 70vw;
  height: 100vh;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.12px 15px;
  border-radius: 8px;
  background-color: #e7e7e7;
  color: black;
}

input,
button {
  align-self: center;
  width: 250px;
  margin: 1rem 0rem;
  line-height: 1.8rem;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contacto {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  text-align: center;
}

p,
h3 {
  align-self: center;
}

.contacto p {
  flex: 8;
}

.contacto span {
  flex: 1;
  color: black;
  cursor: pointer;
}
